/* Global styles for Order Fulfilment frontend */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}
